.calendar-view th, .calendar-view td {
    width: 16%;
}
.calendar-view tr {
    height: 16px;
}

.table-overlay {
    position: absolute; 
    width: 16%; 
    margin-left: -8px; 
    height: 750px;
}

.table-overlay-offset {
    position: relative; 
    top: 8px; 
    width: 100%; 
    height: 100%;
}

.table-overlay-course {
    position: absolute; 
    border-radius: 0.3em; 
    width: 100%;
}