.schedule-view, .calendar-view {
    height: calc(100% - 4em);
}

.schedule-view > .row > div > .checkbox-inline {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.course-block {
    background-color: rgba(80, 80, 80, 0.1);
    border-radius: 0.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1em;
}